@import 'bootstrap/dist/css/bootstrap';
.navbar {
    background-color: black !important;
}
.nav-link{
    color: white !important;
}
#logo{
    color:white !important;
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}